#root {
  max-width: 1280px;
  margin: 0 auto;
  
  text-align: center;
}

.headerImg{
  background-image: url('./assets/1000_F_276080724_hltnCyDjcqAyRtLzDYo3T2jXbBtCD7fl.jpg');
  background-size: cover;
  background-position: center;
  height: 300px; /* Adjust the height as needed */
  position: relative;

}



.navSet{
  position: absolute;
  margin: 20px;
  width: auto;
  

}
